body {
    margin: 0;
    background-color: var(--couleur-dominante);
}

main {
    min-height: calc(100vh - 106px - 59.81px);
}

p {
    font-family: "jaldi";
}

h1 {
    font-family: "italiana";
    margin-left: 1vh;
    color: var(--couleur-tonique-2);
}

ul {
    appearance: none;
}