body {
    margin: 0;
    background-color: var(--couleur-dominante);
}

main {
    min-height: calc(100vh - 106px - 59.81px);
}

p {
    font-family: "jaldi";
}

h1 {
    font-family: "italiana";
    margin-left: 1vh;
    color: var(--couleur-tonique-2);
}

li {
    list-style-type : none;
    margin: 2rem;
}

a {
    text-decoration: none;  
}

.text_page {
    color: var(--couleur-tonique-2);
    font-family: "jaldi";
    font-size: var(--typographie-texte-1);
    margin-left: 1rem;
    margin-right: 1rem;
}

.date {
    color: var(--couleur-tonique-2);
    font-size: 3em;
    font-family: "italiana";
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: var(--couleur-tonique-1);
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-left: 1.5vh; 
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: var(--couleur-tonique-1);
   }
   
   .input::placeholder {
    color: #ffffff;
   }

figcaption {
    color: var(--couleur-tonique-2);
    font-family: "jaldi";
    font-size: var(--typographie-texte-1);
}
   
 
