.menu-btn {
    width: 40px;
    height: 30px;
    position: relative;
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 2%;
    justify-content: space-between;
    z-index: 2;
    background-color: var(--couleur-tonique-2);
    border: none;
  }

  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--couleur-tonique-1);
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    
  }

  .menu-btn__bar::before {
    top: -10px;
  }

  .menu-btn__bar::after {
    top: 10px;
  }