*,
*:before,
*:after {
  box-sizing: border-box;
}


.menu {
  position: fixed;
  inset: 0;
  background-color:var(--couleur-tonique-2);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  visibility: hidden;
  transition: all 0.2s;
}

.menu--open {
  transform: translateX(0);
  visibility: visible;
}

.menu-btn {
    width: 40px;
    height: 30px;
    position: relative;
    margin-top: 5%;
    margin-right: 3%;
    margin-bottom: 2%;
    justify-content: space-between;
    z-index: 2;
    background: none;
    border: none;
  }

  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--couleur-tonique-1);
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    
  }

  .menu-btn__bar::before {
    top: -10px;
  }

  .menu-btn__bar::after {
    top: 10px;
  }

  .menu_link {
    font-size: var(--typographie-titre-1);
    color: var(--couleur-tonique-1);
    font-family: "italiana";
    }

    .noscroll,
    .noscroll body {
      overflow: hidden;
      }